.are-you

  .span4.you.relative
    span Si te inspira

  .span4.an.designer.relative
    h1 el diseño
    .dude
    h2 grafico, industrial, arquitectonico

  .span4.an.programmer.relative
    h1 la tecnologia
    .dude
    h2 programacion, web, gadgets, juegos

  .span4.an.business.relative
    h1 crear nuevos negocios
    .dude
    h2 innovacion, emprendimiento

  .span4.an.changer.relative
    h1 mejorar el Planeta
    .dude
    h2 accesibilidad, movilidad urbana, sustentabilidad
.come-here.span9.pin-stop
   h1 Ven a la Ciudad de M&eacute;xico
   h2 9, 10 y 11 de Noviembre 2012.

   a(href="https://maps.google.com/maps?q=Tecnol%C3%B3gico+de+Monterrey+-+Campus+Ciudad+de+M%C3%A9xico,+Tlalpan,+Mexico+City,+Mexico&hl=en&ie=UTF8&ll=19.283763,-99.136376&spn=0.027667,0.033216&sll=19.320099,-99.152184&sspn=0.885125,1.062927&oq=itesm+ccm+&hq=Tecnol%C3%B3gico+de+Monterrey+-+Campus+Ciudad+de+M%C3%A9xico,+Tlalpan,+Mexico+City,+Mexico&t=m&z=15&iwloc=A",target="_blank")
    h1 ITESM, Campus Ciudad de M&eacute;xico
    img(src="http://maps.googleapis.com/maps/api/staticmap?sensor=false&zoom=15&size=751x300&maptype=roadmap&center=Tecnol%C3%B3gico+de+Monterrey+-+Campus+Ciudad+de+M%C3%A9xico&markers=color:blue%7Clabel:S%7C19.2838,-99.1363")

   br
   br
   a.btn.btn-warning.btn-large.btn-action Aparta tu lugar

