.are-you

  .span4.you.relative
    span Si eres

  .span4.an.designer.relative
    span un dise;ador

  .span4.an.programmer.relative
    span un programador

  .span4.an.business.relative
    span una persona de negocios

  .span4.an.changer.relative
    span quien busca mejorar el planeta

.come-mx
  .span8
    h1 Ven a la Ciudad de Mexico

