#are-you

  .are-you.row-fluid

    .span4.eres
      span Eres

    .span8.designer
      h1 un Dise;ador ?
      .dude.designer

    .span8.programmer
      h1 Programador

    .span8.business
      h1 una persona de Negocios

    .span8.innovator
      h1 alguien interesado en mejorar el planeta?
