.row-fluid
    h3
      span Startup Weekend for the Planet -
      a(href='#') Mexico City. Noviembre 9-11, 2012.

.row-fluid

  .span8
    img.swlogo(src='/images/Logo_SW_Planet_color.png')

  .span4.about.hero-unit
    p
      | Un fin de semana para hacer equipo
      | en proyectos innovadores
      | que tengan un impacto positivo sobre el planeta.

.row-fluid
  .span12
    a.btn-action.btn.btn-large.btn-success.pull-right(href='#') Quiero ir!
    h3.value-proposition ¡Construye un negocio sustentable en 54 horas!.
