.row-fluid
    h3
      span Startup Weekend for the Planet -
      a(href='#') Mexico City. November 9-11, 2012.

.row-fluid

  .span8
    img.swlogo(src='http://sworg.s3.amazonaws.com/Media%20Library/Logos/SW_kauffman_green.png')

  .span4.hero-unit
    p
      | Un fin de semana en el que tendras la oportunidad
      | de colaborar en emprendimientos
      | que busquen generar un impacto positivo sobre el planeta.

.row-fluid
  .span12
    h1.value-proposition Construye una empresa en 54 horas.
    a.btn-action.btn.btn-large.btn-success.pull-right(href='#') Quiero ir!
