section.friday.relative
   h1.day.rotate Viernes
   .cards
     .meet.card.span4.relative
       h2 Conoce gente impresionante
       h3 de diversas disciplinas

     .share.card.span4.relative
       h2 Comparte tu super idea!
       h3 inspira a los dem&aacute;s

     .team.card.span4.relative
       h2 Construye un equipo
       h3 o unete a uno

     .work.card.span4.relative
       h2 A trabajar!
       h3 No talk, just action!

section.saturday.relative
   h1.day.rotater S&aacute;bado
   .cardsr
     .validate.card.span4.relative
       h2 Valida tu idea
     .build.card.span4.relative
       h2 Construye un prototipo
     .mentor.card.span8.relative
       h2 Obten mentoria de expertos


section.sunday.relative
   h1.day.rotate Domingo
   .cards
     .finish.card.span4.relative
       h2 Ultimos detalles
     .pitch.card.span4.relative
       h2 Pitchea tu idea
     .win.card.span8.relative
       h2 Gana el Startup Weekend for the planet
       h3 Jueces:

.buy
   iframe(src="http://www.eventbrite.com/tickets-external?eid=4089273126&ref=etckt",frameborder="0",height="338",width="100%",vspace="0",hspace="0",marginheight="5",marginwidth="5",scrolling="auto",allowtransparency="true")
