append styles

  link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/example.css')

append scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/superscrollorama/js/greensock/TweenMax.min.js')
  script(src='/superscrollorama/js/jquery.superscrollorama.js')
  script(src='/javascripts/sw4planet.js')

