extends layout

block content
  include _resources
  include _navbar

  section#landing.span10.offset1
    .container-fluid
      include _landing

  section#come.span10.offset1
    .container-fluid
      include _come

  section#program.span10.offset1
    .container-fluid
      include _program




