body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.brand img.sw {
  height: 30px;
}
.swlogo {
  width: 100%;
  height: 300px;
}
.btn-action {
  width: 20%;
  font-size: 40px;
  line-width: 42px;
}
h1.value-proposition {
  display: inline;
}
.hero-unit {
  margin-top: 30px;
  padding: 10px;
  text-align: justify;
}
body {
  background-image: url("/images/swbg.png");
}
section#landing {
  margin-top: 50px;
  height: 600px;
}
section#landing .row-fluid {
  margin-top: 30px;
}
section#come {
  height: 600px;
  background-color: #cde;
}
section#program {
  height: 600px;
}
.dude {
  background-image: url("/images/dude.png");
  width: 73px;
  height: 15px;
  font-size: 12px;
  padding-top: 100px;
  padding-left: 10px;
}
.dude.designer {
  background-color: #f00;
}
.are-you {
  background-color: #dededd;
  height: 1200px;
  font-size: 90px;
}
.are-you .hero-unit {
  font-size: 40px;
}
.relative {
  position: relative;
}
.an {
  background-color: #cec;
  height: 400px;
  width: 500px;
}
.an.designer {
  top: 0px;
}
.an.programmer {
  top: -400px;
}
.an.business {
  top: -400px;
}
.an.changer {
  top: -800px;
}
body {
  height: 10000px;
}
